:root {
  --bold: "Lato", serif;
  --mono: "IBM Plex Mono", serif;
}

/*  polariods   */
.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}
.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}
.polaroid > img {
  max-width: 100%;
  height: auto;
}
.caption {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2em;
}
.item {
  width: 30%;
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}
.item .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.item:nth-of-type(4n + 1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.item:nth-of-type(4n + 2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.item:nth-of-type(4n + 4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.item:nth-of-type(4n + 3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}
.item:nth-of-type(4n + 3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}
.item:hover .polaroid:before {
  content: "";
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
}

/*    */

li {
  display: inline;
  font-weight: 400;
  font-style: normal;
  font-family: IBM Plex Mono;
  font-size: 15px;
  color: black;
}

.about-nav {
  float: right;
  margin-right: 35px;
  margin-top: 10px;
  color: black;
}

.home-nav {
  float: left;
  margin-left: 15px;
  margin-top: 10px;
  color: black;
}

h1 section {
  font-family: var(--bold);
  font-weight: 900;
  letter-spacing: 4px;
  font-size: 40x;
}

h1 {
  margin-left: 70px;
  margin-top: 50px;
  margin-bottom: 100px;
}

a section:hover {
  color: darkgrey;
}

.polariod-pic {
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

.bundle {
  margin-top: 100px;
  margin-bottom: 100px;
}

.packages {
  margin-bottom: 50px;
}

.get-styled-section {
  font-size: 16px;
  font-weight: 400;
  font-family: var(--mono);
  margin-top: 15px;
  margin-left: 70px;
}

.get-styled-section a {
  text-decoration: none;
  color: black;
}

.get-styled-section a:hover {
  color: lightgrey;
}

.contact {
  font-weight: 400;
  font-style: normal;
  font-family: IBM Plex Mono;
  font-size: 16px;
  margin-bottom: 5px;
}

article {
  font-weight: 400;
  font-style: normal;
  font-family: IBM Plex Mono;
  font-size: 14px;
  margin-left: 70px;
  margin-top: 50px;
  text-transform: uppercase;
}

.about-section article {
  margin-top: 100px;
  margin-bottom: 100px;
}

.extras {
  display: grid;

  padding: 60px;
  grid-template-columns: 1fr 1fr 1fr;
}

.extras article {
  margin-left: 40px;
  margin-right: 40px;
  font-weight: 400;
  font-style: normal;
  font-family: IBM Plex Mono;
  font-size: 14px;
}

.about-me article {
  font-weight: 400;
  font-style: normal;
  font-family: IBM Plex Mono;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  margin-top: 100px;
}

.about-pic {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}

.about-shoot-img {
  display: block;
  margin: 0 auto;
  justify-content: center;
  width: 25%;
  margin-bottom: 10px;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
}

.main-pic {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.coming-soon h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

h6 {
  font-family: var(--mono);
  font-size: 10px;
  font-weight: 200;
  text-align: center;
  margin-top: 30px;
}

h6 a {
  text-decoration: none;
  color: black;
}

h1 a {
  text-decoration: none;
  color: black;
}

h1 a:hover {
  color: darkgrey;
}

h3 {
  font-weight: 400;
  font-style: normal;
  font-family: IBM Plex Mono;
  font-size: 12px;
}

h3 a {
  text-decoration: none;
  color: black;
}

h3 a:hover {
  color: darkgrey;
}

/* form */

form {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 60px;
}

label {
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: var(--mono);
}

input {
  font-family: var(--mono);
}

form button {
  margin-top: 20px;
  font-family: var(--mono);
}

select {
  font-family: var(--mono);
  text-align: center;
  padding: 5px;
}

.contact-form {
  font-family: var(--bold);
  font-weight: 900;
  text-align: center;
  font-size: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.form-section {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
}

/* ipad */
@media (max-width: 1024px) {
  article {
    font-size: 12px;
  }

  .about-me article {
    text-align: center;
    justify-items: center;
    font-size: 14px;
  }

  .polariod-pic {
    margin: 0 auto;
  }
}

/* iphone */
@media (max-width: 600px) {
  .tierd-services {
    font-size: 30px;
  }
  h3 {
    font-size: 10px;
  }

  .coming-soon h1 {
    font-size: 25px;
  }

  .item {
    width: 30%;
  }

  .wrapper {
    padding: 0;
  }

  .main-pic {
    width: 75%;
  }

  .polaroid {
    padding: 0.5rem;
  }

  .polariod-pic {
    display: block;
    justify-self: center;
  }

  h1,
  article {
    margin-left: 15px;
  }

  .packages article {
    max-width: 330px;
  }

  .about-me article {
    text-align: center;
    justify-items: center;
    font-size: 12px;
    padding-right: 0;
    margin-left: 0;
    padding: 40px;
    margin-top: 30px;
  }

  .about-pic {
    width: 70%;
  }

  .about-shoot-img {
    width: 60%;
    margin-bottom: 30px;
  }

  h1 section {
    font-size: 20px;
  }

  .extras {
    justify-items: center;
  }

  .extras article {
    font-size: 11px;
    width: 120px;
    gap: 5px;
    margin: 0;
  }

  .home-nav {
    margin-left: 5px;
    justify-self: start;
  }

  .about-nav {
    margin-right: 15px;
  }

  article {
    font-size: 11px;
  }

  .contact {
    font-size: 11px;
  }

  li {
    font-size: 11px;
  }

  h6 {
    font-size: 8px;
  }

  select {
    width: 300px;
  }

  .form-section {
    width: 350px;
  }

  form {
    text-align: center;
    margin-left: 0;
  }

  .contact-form {
    font-size: 30px;
  }

  label {
    font-size: 13px;
  }

  select {
    font-size: 13px;
  }

  input {
    font-size: 13px;
  }
}
